/* Base*/



/* Layout*/

/* Modules*/
.outer-box {
  float: left;


}
.outer-box2 {
  float: left;
  margin-left: 20px;

}
.outer-box3 {
  float: left;
  margin-left: 20px;
}
.outer-box--tshirt-box{
  height: 230px;
  width: 250px;
  padding: 0;
  border: 3px solid lightblue;
}

.outer-box--image {
  width: 100px;
  padding: 40px 40px 40px 75px;
}
.outer-box--icon-box {
  width: 250px;
  height: 20px;
  border-top: 3px solid lightblue;
}
.icon-box--icon1 {
  height: 30px;
  width: 38px;
  margin: 5px 5px 25px 10px;
  background-image: url('../images/icons/button_1.png');
  background-size: contain;
  float: left;
}
.icon-box--icon2 {
  height: 47px;
  width: 47px;
  background-image: url('../images/icons/button_2.png');
  background-size: contain;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
  float: left;
}
.icon-box--icon3 {
  height: 35px;
  width: 47px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  font-size: 15px;
  font-family: Verdana;
  color: #81BCE6;
  border-right: 3px solid lightblue;
  float: left;
}
/*.icon-box--icon3:hover .icon-box--hidden-box {
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
  transition: transform 2s, visibility 3s, opacity 3s;
}
.icon-box--hidden-box {
  width: 18px;
  height: 100px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  left: 5px;
  top: -110px;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
}*/
.icon-box--icon4 {
  height: 47px;
  width: 47px;
  border-right: 3px solid lightblue;
  float: left;
}
.icon-box--color-box {
  height: 25px;
  width: 25px;
  margin: 12px 10px 5px 15px;
  background-color: #81bce6;
}
.icon-box--icon5 {

  width: 47px;
  background-image: url('../images/icons/button_3.png');
  background-size: contain;
  float: left;
}
.shirt-name {

  float: left;
  padding-top: 5px;
  font-family: Verdana;
  color: #81BCE6;

}
.price {
  width: 105px;
  padding: 5px 0 0 15px;
  margin-left: 70px;
  text-align: right;
  font-family: Verdana;
  color: #81BCE6;
  font-weight: bold;
}
